@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap')

body {
    margin:0px;
}
main {
    background-color: white;
    margin-left:10px;
    margin-right:10px;
}
h1 { 
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: #FFEFC8;
    padding: 0px;
    margin: px;
    overflow: hidden;
}
.navbar a{
    color:#f00a5f;
    text-decoration: none;
    padding: 20px;
    margin: 3px;
    display: block;
    text-align: center;
}
.navbar a:hover{ 
    background-color: #FFEFC8;
}
.navbar li{
    float: left;
}
.header {
    padding: 25px; 
    text-align: center; 
    background: #FFD95F; 
    color: #1abc9c;
