@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body{
    margin: 0px; 
    background-color:#FFEFC8 ;
    color:#1abc9c;
}

main {
    margin-left:10px;
    margin-right:10px;
}

h1 { 
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(216, 214, 214);
    padding: 0px;
    margin: 0;
    overflow: hidden;
}

.navbar a{
    color:#f8035d;
    text-decoration: none;
    padding: 30px;
    margin: 0;
    font-size: large;
    display: flex;
    justify-content: space-between;
    text-align: center;
    ;
}

.navbar a:hover{ 
    background-color: #f4e1b1;
    /* position: fixed; */
}

.navbar li{
    float: left;
}

#picture1 {
    width: 400px;
    border-radius: 20px;
}
#picture2 {
    width: 400px;
    border-radius: 20px;
}
#picture3{
    width: 400px;
    border-radius: 20px;
}
#picture4 {
    width: 400px;
    border-radius: 20px;
}
#picture5 {
    width: 400px;
    border-radius: 20px;
}
#picture6 {
    width: 400px;
    border-radius: 20px;
}
#picture7 {
    width: 400px;
    border-radius: 20px;
}
/* .images {
    display:flex; 
} */

.pheader {
    background-color: #FFD95F;
    
}

.picture {
    flex-direction: row-reverse;
}

.mail {
    display: flex;
    align-items: flex-start;
}

.phone{
    display: flex;
    align-items: flex-start;
}

.comment{
    display: flex;
    align-items: flex-start;
}

h1{
    text-align: left;
}

h3{
    text-align: left;
}
.imagess1, .imagess2, .imagess3, .imagess4, .imagess5, .imagess6 {
    display: flex;
    /* height: 100px; */
}

.images img{
    border-radius: 24px;
}

.images h3{
    text-align: center;
} 

.hey {
    text-align: start; 
}

 .am {
    text-align: center;
    font-size: 20px;
    
 }

 @media screen and (max-width: 400px) {
    /* for mobile phones: */
    nav {display: block;}
    main {width: %;}
    aside {display: none;}
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    /* for tablets: */
    nav {display: block;}
    main {width: 100%;}
    aside {width: 25%;}
}
@media screen and (min-width: 601px) {
    /* for desktop: */
    nav {display: block;}
    main {width: 100%;}
    aside {width: 25%;}
}

#s {
    justify-content: space-around;
    border-top-width:medium;
    border-color:blue;
}

.pro1 {
    text-align: center;
}
main > p {
    color:#f8035d;
    text-indent: 0%;
}
#I {
    text-align: center;
    margin: 60;
}

li {
    font-size: 22px;
}

#header{
    text-align: center;
    font-size: 40px;
}

#p {
    justify-content: space-around;
}

#headr{
    text-align: start;
}

a {
    font-size: 20px;
}